// colors
$blue: rgba(0, 119, 255, 0.2);
$grey: rgb(104, 104, 104);
$error: #fc035f;

// font sizes
$fs-h1: 3rem;
$fs-h2: 2rem;
$fs-h3: 1.5rem;
$fs-h4: 1.2rem;
$fs-default: 0.9rem;

// border
$br: 6px;
$card-br: 10px;
$border-color: rgb(228, 228, 228);
