@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.dropdown-select {
  cursor: pointer;
  position: relative;
  padding: 0.75rem 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-options {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0;
  align-items: start;
  gap: 0.5rem;
  top: 100%;
  margin-top: 0.5rem;
  position: absolute;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border-radius: $br;
  border: 0.5px solid $border-color;
  width: max-content;
  z-index: 1;

  .option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 0.75rem;
    @include transition(background);
    &:hover {
      background: $blue;
    }
  }
}

.dropdown-icon {
  border: 1px solid black;
  border-radius: 2px;
  height: $fs-default;
  width: $fs-default;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
